@media screen and (max-width: 720px) {
    body {
        margin-top: 140px !important;
        width: 700px;
    }
    .text-container h2 {
        font-size: 35px !important;
    }
    .text-container p, .text-container ul{
        font-size: 24px;
    }
    .text-container {
        flex: 1;
        padding: 30px;
        margin: 0 !important;
    }
    .header {
        height: 120px !important;
        border-bottom: 2px solid #000000;
    }
    .header a, .header h1 {
        font-size: 3.4rem;
        margin: 0 !important;
    }
    .header img {
        width: 120px;
        height: 120px;
    }
    .header .hamburger{
        width: 60px !important;
        height: 50px !important;
    }
    .dropdown-content {
        height: 140px;
        top: 12% !important;
        gap: 25px !important;
    }
    .dropdown-content img {
        height: 70px !important;
        height: 70px !important;
    }
    .navbar {
        margin-right: 12px;
    }
    .hamburger {
        align-items: center !important;
        width: 40px !important;
        height: 40px !important;
        margin: 0 !important;
        padding: 5px !important;
    }
    .line {
        width: 35px !important;
        height: 4px !important;
    }
    .menu-content a {
        font-size: 1.5rem
    }
    .ficha-tecnica {
        max-height: 900px !important;
        max-width: 200px !important;
        margin: 10px;
    }
    .ficha-tecnica li, .ficha.tecnica th {
        font-size: 0.8rem !important;
    }
    .ficha-tecnica ul {
        margin: 0;
    }
    .ficha-tecnica td, .ficha-tecnica th {
        border-top: 1px transparent !important;
        overflow: hidden;
    }
    .ficha-tecnica th, .tabla td {
        max-width: 120px !important;
        overflow: hidden;
    }
    .ficha-tecnica .portada img {
        width: 90px !important;
        height: 120px !important;
        position: relative;
        right: 20px;
    }
    .ficha-tecnica table {
        width: 130px !important;
    }
    .ficha-tecnica .titulo {
        font-size: 15px !important;
        overflow: hidden;
    }
    .dropdown-content {
        top: 120px !important;
        flex-wrap: wrap;
        padding: 5px;
    }
    .dropdown-content img {
        transform: scale(1.0) !important;
    }
    .dropdown-content a {
        width: 60px;
        height: 40px;
        display: flex;
        justify-content: center;
    }
    .container {
        width: 100% !important;
        display: flex;
        padding: 0 !important;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch; 
    }
    .radio-container {
        width: 100% !important;
        height: 700px !important;
        gap: 30px !important;
        grid-template-columns: repeat(4, 150px) !important;
    }
    footer {
        height: 150px !important;
    }
    footer p {
        font-size: 26px !important;
    }
    #playingImage {
        width: 100px !important;
        height: 100px !important;
    }
    #progressBarContainer {
        height: 10px !important;
        margin: 0 20px
    }
    #timeCurrent {
        font-size: 26px;
    }
}
@font-face {
    font-family: "Pricedown";
    src: url("../fonts/Pricedown.otf");
}
* {
    font-family: "Tahoma";
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    transform: scale(1.1);
}
h2 {
    font-size: 2.2rem;
    text-align: center;
}
.bold {
    font-weight: bolder;
}
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    z-index: 1;
}
.header-img {
    display: block;
    height: 70px;
}
.header-img:hover {
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.1);
}
.header-container {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}
.hamburger {
    background: none;
    cursor: pointer;
    padding: 0.1rem;
    margin-right: 4px;
    border-radius: 6px;
}
.hamburger:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}
.line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
}
.menu-content {
    position: absolute;
    height: auto;
    width: 250px;
    overflow-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    right: 0;
    top: 150%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid #000000;
    margin: 8px 3px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
}
.menu-content.show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    pointer-events: auto;
}

.menu-content ul {
    list-style: none;
    padding: 0;
    text-align: left;
}
.menu-content li {
    padding: 10px 0;
}
.menu-content a {
    text-decoration: none;
    font-size: 20px;
}
.dropdown-content {
    display: flex;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    margin: 2px;
    border-radius: 40px;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: row;
    gap: 1px;
    transition: opacity 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
}
.dropdown-content.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}

.dropdown-content .logo {
    filter: grayscale(100%);
}
.dropdown-content .logo-active {
    filter: grayscale(0%);
}
.dropdown-content img {
    height: 100px;
    width: auto;
    transition: transform 0.2s ease;
    transform: scale(0.6);
}
.dropdown-content img:hover {
    transform: scale(0.9);
}
.dropdown-content a {
    color: transparent
}
.anchor, .anchor:visited {
    font-size: 2.5rem;
    font-family: "Pricedown";
    margin: 0;
    grid-column: 2;
    text-align: center;
    text-decoration: none;
}
.trucos {
    display: none;
    margin-left: 40px;
}
.trucos.active {
    display: block;
}
.trucos h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.trucos ul {
    border-radius: 20px;
    max-width: 800px;
}
.trucos li:first-child {
    padding-top: 20px;
}
.trucos li:last-child {
    padding-bottom: 20px;
}
.trucos li {
    margin: 20px 0;
}
.trucos h4 {
    margin-bottom: -15px;
    font-size: 1.4rem;
}
#pc span {
    border: 2px solid;
    padding: 0 20px;
    margin-right: 10px;
    border-radius: 20px;
    border-width: 3px;
}
.menu {
    border-radius: 15px;
    padding: 20px;
    width: fit-content;
    margin: 40px auto;
}
.imagen-plataforma {
    display: flex;
    gap: 50px;
    justify-content: center;
}
.imagen-plataforma img {
    border-radius: 50px;
    width: 60px;
    height: 60px;
}
.plataforma:hover {
    cursor: pointer;
}
.ficha-tecnica {
    border-radius: 6px;
    margin: 40px;
}
.ficha-tecnica h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}
.ficha-tecnica .portada img {
    max-width: 80%;
    max-height: 80%;
    width: 300px;
    border-radius: 8px;
    display: block;
    margin: 0 auto
}
.ficha-tecnica table {
    width: 350px;
    border-collapse: collapse;
}
.ficha-tecnica li:last-child {
    margin-bottom: 20px;
}
.ficha-tecnica ul {
    padding: 0;
    margin-left: 20px
}
.ficha-tecnica .titulo {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: bold;
}
.ficha-tecnica td:first-child {
    border-top: none;
}
abbr {
    font-size: 0.8rem;
}
abbr:hover {
    cursor: help;
}
.tabla {
    padding: 4px;
    margin-bottom: 10px;
}
.ficha-tecnica li, .trucos li {
    list-style: none;
}

.container.menu-shift {
    transform: translateX(-150px); /* o el ancho de tu menú */
    transition: transform 0.3s ease;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 60px;
    max-width: 1200px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 2px 2px 90px var(--container-shadow-color);
}
.grid {
    display: grid
}
#container {
    flex-direction: row;
}
.text-container {
    margin-left: 30px;
    margin-right: 30px;
}
.boton {
    width: 30px;
    height: 25px;
}
.radio-titulo {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 60px 0;
    text-align: center;
}
.radio-container {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 50px;
    padding: 10px;
    justify-content: center;
}
.radio-container img {
    width: 130px;
    height: 130px;
    padding: 20px 13px;
    border: 4px solid;
    border-radius: 20px;
}
.radio-container img:hover {
    filter: blur(0.7px) brightness(0.3);
    transition: 0.25s ease-in-out;
    cursor: pointer;
}
audio {
    display: none
}
footer {
    height: 70px;
    width: 100%;
    color: #000000;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 3px solid #000000;
}
footer img {
    width: 50px;
    height: auto;
    border-radius: 10px;
    margin-right: 15px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center
}
footer p {
    margin: 0;
    font-size: 18px;
}
footer.hidden {
    display: none;
}
#playingImage {
    margin: 10px;
}
#playingTitle {
    flex: 1;
    text-align: left;
    font-size: 18px;
}
#progressBarContainer {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 6px;
    background: #ffffff;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
#progressBarContainer:hover, #progressBar:hover {
    cursor: pointer;
}
#progressBar {
    height: 100%;
    width: 0%;
    transition: width 0.12s ease-in;
    position: absolute;
    top: 0;
    left: 0;
}
#progressThumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.12s ease-in;
}
#progressBarContainer:hover #progressThumb {
    opacity: 1;
}
#timeCurrent {
    flex: 1;
    text-align: left;
    margin: 6px
}
#currentTrackWrapper {
    width: 230px; /* Ancho fijo del contenedor */
    overflow: hidden; /* Recorta el texto que excede el contenedor */
    position: relative; /* Para posicionamiento relativo */
}

#currentTrack {
    display: inline-block; /* Necesario para la transformación */
    white-space: nowrap; /* Evita que el texto se divida en líneas */
    position: relative; /* Para que se mueva dentro del contenedor */
    /* Quitamos overflow: hidden y max-width: 100% */
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.track-info {
    display: flex;
    flex-direction: column;
}

#currentTrack {
    margin: 0;
    font-size: 14px;
}
#map {
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    z-index: 0;
}
.leaflet-container {
    background-color: #0a0a6844 !important;
    border: 3px solid #111;
}
.reference-box {
    background-color: #5989f0; /* Fondo blanco */
    padding: 10px;           /* Espaciado interno */
    border: 2px solid;
    border-radius: 5px;      /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
    font-family: Arial, sans-serif; /* Fuente */
    font-size: 14px;         /* Tamaño de fuente */
    color: #333;             /* Color del texto */
}
.reference-box h4 {
    margin-top: 0;           /* Sin margen superior */
    font-size: 16px;         /* Tamaño de fuente del título */
    color: #05284e;          /* Color del título */
}
.reference-box p {
    margin: 5px 0;           /* Margen entre párrafos */
}