@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.otf");
}

body::before {
    background-image: url(../images/inicio/fondo.webp);
    filter: blur(4px);
    z-index: -1;
}

.block {
    background: #6bbaf3dd;
    margin: 80px;
    width: 80%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 70px #045086dd;
}
summary, h2, h3, h4, h5 {
    font-family: "Helvetica";
}
p {
    font-size: 1.1rem;
    color: #000000;
    margin-left: 30px;
    text-shadow: 0px 0px 10px #056cb650
}
summary {
    font-size: 1.5rem;
    color: #000000;
    margin-left: 0px;
    margin-top: 40px;
}
h1 {
    font-size: 3.1rem;
    font-family: "Pricedown";
    color: #220020;
    text-shadow: 3px 3px 5px #e7e7d6;
}
.main-title {
    color: #fd8eaf;
    font-size: 2.4rem;
    text-shadow: 1px 1px 0 #000000, -1px 1px 0 #fd8eaf, -1px -1px 0 #000000,1px -1px 0 #000000;

}
h3 {
    font-size: 2.0rem;
    border-bottom: 3px solid;
    border-image: linear-gradient(45deg, #9989d7, #fd8eaf) 1;
}
h4 {
    font-size: 1.6rem;
    margin-bottom: -5px;
    margin-top: 5px;
}
.header {
    background-image: linear-gradient(45deg, #9989d7, #fd8eaf);
}
.header-img {
    filter: drop-shadow(1px -10px 30px #39ffe5);
}
.title-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}
.dropdown-content {
    background-color: #4e2a53f3;
    box-shadow: 0px 8px 16px 0px #2f0534ea;
}
.juego {
    width: 30px
}
.logo {
    width: 21px;
}
table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    margin: 20px auto 0 auto;
    border: 2px solid #000000;
    background-image: linear-gradient(45deg, #9989d7b0, #fd8eafb0);
}
th, td {
    padding: 9px;
    text-align: center;
    border-left: 1px solid #0000004f;
    border-right: 1px solid #0000004f;
}
td {
    border-top: 1px solid #0000004f;
}
tr {
    font-weight: bold;
}
.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
}
.leyenda {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    color: #000000b5;
    font-style: italic;
    font-size: 15px;
}
.fotd-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 20px;
    
}
.fotd {
    background-color: #49a0dfdd;
    border: 3px solid #0e5c949b;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 5px 5px 60px #000000b5;
}
.fotd h4 {
    text-align: center;
}

.fact-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
.fact-text {
    flex: 1;
    font-size: 16px;
}
#fact-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 20px;
    border: 2px solid #04406aee;
    border-radius: 10px;
    box-shadow: 0 0 20px #e87fd8;
}
.header-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.intro-row {
    display: flex;
    align-items: flex-start;
}

.intro-text {
    line-height: 25px;
}