@font-face {
    font-family: "Eurostyle";
    src: url("../fonts/Eurostile Bold.ttf");
}
:root {
    --container-shadow-color: #550d04;
}
body::before {
    background-image: url(../images/inicio/fondo_lcs.webp);
    filter: blur(5px);
}
h2 {
    color: #ff000d;
    text-shadow: 3px 3px 3px #040401;
}
h2, h3 {
    font-family: "Eurostyle";
}
.trucos h3, .trucos-active h3 {
    color: #f70909;
    text-decoration: underline;
    text-shadow: 3px 3px 10px #040401;
}
.trucos ul {
    background-color: #6166ac11;
}
.header {
    background-color: #4b0202
}
.header-img {
    filter: drop-shadow(1px 1px 20px #fe3434);
}
.hamburger {
    border: 3px solid #f50909;
    box-shadow: 1px 1px 50px #fe3434;
    background-color: #f5090994;
}
.line {
    background-color: #ffffff;
}
.menu-content {
    background-color: #5c0000f7;
    box-shadow: 0px 8px 16px 0px #000000f1;
}
.menu-content a {
    color: #ffffff;
    font-family: "Eurostyle";
}
.menu-content a.active {
    color: #e81b25;
}
.dropdown-content {
    background-color: #920707f3;
    box-shadow: 0px 8px 16px 0px #000000;
}
.anchor, .anchor:visited {
    color: #db2424;
    text-shadow: 0px 4px #000000
}
.ficha-tecnica {
    border: 3px solid #000000;
    background-color: #f39494;
}
.ficha-tecnica h2 {
    color: #db2424;
    text-shadow: 1px 2px 2px #040401;
}
.ficha-tecnica td, .ficha-tecnica th {
    border-top: 1px solid #000000;
}
.ficha-tecnica th {
    border-right: 4px solid #750000;
    background-color: #e164649f;
}
.ficha-tecnica .titulo {
    color: #7e0000;
}
abbr {
    font-family: "Eurostyle";
    color: #de2b2bfc;
}
.release-date ul {
    border-bottom: 2px solid #073e75;
}
.container {
    background-color: #f5b5b5;
}
.radio-container {
    grid-template-columns: repeat(3, 240px) !important;
    gap: 60px !important;
}
.radio-container img {
    background-color: #630400;
}
.radio-container img:hover {
    background-image: linear-gradient( #be3921fd, #00000007);
}
footer {
    background: linear-gradient(#f87867, #722f2f);
}
footer p, #timeCurrent {
    color: #ffffff;
}
#playingImage {
    border: 3px solid #000000;
    background-color: #ffffff;
}
#progressBarContainer {
    background-color: #ffffff;
}
#progressBar {
    background-color: #3d0303;
}
.menu {
    border: 4px solid #77728f;
    background-color: #b4adad2f;
    box-shadow: 0 0 30px #68656e9f;
}
.imagen-plataforma img {
    border: 4px solid #0c0c0c;
    background-color: #1ad8e61a;
}