@font-face {
    font-family: "Arborcrest";
    src: url("../fonts/SF\ Arborcrest.ttf");
}
:root {
    --container-shadow-color: #012026;
}
body::before {
    background-image: url(../images/fondo_vc.webp);
    filter: blur(5px);
}
#radio-title {
    text-shadow: 3px 3px 0 #1a1418;
}
h2, h3 {
    font-family: "Arborcrest";
}
.trucos h3, .trucos-active h3 {
    color: #f900aa;
    text-decoration: underline;
    text-shadow: 3px 3px 3px #040401;
}
.plataforma.selected {
    border: 5px solid #7cd9f3;
    transform: 1s border ease;
}
.trucos ul {
    background-color: #a138e78f;
}
#pc span {
    border-color: #24232373;
    color:#18e1f0;
    background-color: #1110103b;
}
.header {
    background-color: #f085d9;
}
.header-img {
    filter: drop-shadow(1px -10px 30px #330147);
}
.hamburger {
    border: 3px solid #dc6ec4;
    box-shadow: 1px 1px 70px #040005;
}
.line {
    background-color: #faf6f6;
}
.menu-content {
    background-color: #f085d9;
    box-shadow: 0px 8px 16px 0px #000000b8;
}
.menu-content a {
    color: #000000;
    font-family: "Arborcrest";
}
.menu-content a.active {
    color: #00ffea;
}
.dropdown-content {
    background-color: #822d8afa;
    box-shadow: 0px 8px 16px 0px #dba8ff;
}
.anchor, .anchor:visited {
    color: #00ffeb;
    text-shadow: 3px 3px 0 #000000;
}
.ficha-tecnica {
    border: 3px solid #000000;
    background-color: #dd37ec9f;
}
.ficha-tecnica th {
    border-right: 4px solid #5b0267;
    background-color: #f93aa941;
}
.ficha-tecnica td, .ficha-tecnica th {
    border-top: 1px solid #000000d8;
}
.ficha-tecnica .titulo, .container h2 {
    color: #f08bbd;
    text-shadow: 3px 3px 0 #000000;
}
abbr {
    font-family: "Arborcrest";
    color: #ffffff;
}
.release-date ul {
    border-bottom: 2px solid #fb03ce;
}
.container {
    background-color: #0aaeefcc;
}
.radio-container img {
    background-color: #eba3f1;
}
.radio-container img:hover {
    background-image: linear-gradient( #f77edcfd, #00000075);
}
.radio-container img:nth-child(9) {
    margin-left: 150px;
}
.radio-container img:nth-child(11) {
    margin-left: 150px;
}
.radio-container img:nth-child(13) {
    margin-left: 150px;
}
footer {
    background: linear-gradient(180deg, #ee62d0, #bb76ac);
}
#playingImage {
    border: 3px solid #b60aef88;
    background-color: #eaa3f179;
}
#progressBarContainer {
    background-color: #ffffff;
}
#progressBar {
    background-color: #000000;
}
.menu {
    border: 4px solid #ac2f91ce;
    background-color: #e60b922f;
    box-shadow: 0 0 30px #68656e9f;
}
.imagen-plataforma img {
    border: 4px solid #0c0c0c;
    background-color: #e61ad538;
}
