@font-face {
    font-family: "Chalet";
    src: url("../fonts/Chalet.otf");
}
:root {
    --container-shadow-color: #025a44;
    }
body::before {
    background-image: url(../images/fondo_v.webp);
    filter: blur(10px);
}
h2 {
    color: #ffffff;
    text-shadow: -3px 1px 0 #040c08;
}
h2, h3 {
    font-family: "Chalet";
}
.trucos h3, .trucos-active h3 {
    color: #e8a701;
    text-decoration: underline;
    text-shadow: 3px 3px 0 #040401;
}
.trucos ul {
    background-color: #6166ac11;
}
.header {
    background-color: #98dcec;
}
.header-img {
    filter: drop-shadow(1px -10px 30px #1005ac);
}
.hamburger {
    border: 3px solid #2b728a7d;
    box-shadow: 1px 1px 70px #1005ac
}
.line {
    background-color: #e2f0db;
}
.menu-content {
    background-color: #0ca623;
    box-shadow: 0px 8px 16px 0px #000000;
}
.menu-content a {
    color: #ffffff;
    font-family: "Chalet";
}
.menu-content a.active {
    color: #90c2e3;
}
.dropdown-content {
    background-image: linear-gradient(270deg, #74bc72ef, #4eb7d1ef, #f1905cef);
    box-shadow: 0px 8px 16px 0px #76f851;
}
.anchor, .anchor:visited {
    color: #0ca623;
    text-shadow: 3px 3px 0 #032600;
}
.ficha-tecnica {
    border: 3px solid #000000;
    background-color: #61ce57;
}
.ficha-tecnica h2 {
    color: #000000;
}
.ficha-tecnica td, .ficha-tecnica th {
    border-top: 1px solid #0a0a0a;
}
.ficha-tecnica th {
    border-right: 4px solid #0c4105;
    background-color: #baffc1;
}
abbr {
    font-family: "Chalet";
    color: #166702;
}
.release-date ul {
    border-bottom: 2px solid #073e75;
}
.container {
    background-color: #90c2e3;
}
.radio-container img {
    background-color: #034b1b;
}
.radio-container img:hover {
    background-image: linear-gradient( #063114fd, #03ff29);
    transition: 1s ease;
}
footer {
    background: linear-gradient(#98d6a5fd, #1f1e1fc9);
}
footer p {
    color: #ffffff;
}
#playingImage {
    border: 3px solid #000000;
    background-color: #9af37f;
}
#progressBarContainer {
    background-color: #ffffff;
}
#progressBar {
    background-color: #6fe44c;
}
#progressBarContainer:hover #progressThumb {
    background: #4e7505;
}